@import url('https://fonts.googleapis.com/css?family=Questrial|Quicksand|Bungee');

html {
    height: 100%;
    background-color: #333333;
}
body {
    font-size: 18px;
    font-family: 'Questrial', sans-serif;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
}
h1 {
    font-size: 3em;
    line-height: 2em;
    position: relative;
    font-family: 'Bungee', cursive;
    color: #71E9ff;
    text-align: left;
    margin-bottom: 0px;
}
h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 1.3em;
    padding: 5px;
    position: relative;
    text-align: center;
}
input {
    text-align: right;   
}
::-webkit-input-placeholder {
    text-align:left;
}
input:-moz-placeholder {
    text-align:left;
}
#wrapper {
    background-color: #333333;
    background: -webkit-linear-gradient(#333333 50%, #71E9ff 100%);
    background: linear-gradient(#333333 50%, #71E9ff 100%);
    min-height: 100%;
    position: relative; 
    padding: 0% 5% 0% 5%;
}
#header {
    color: #FFFFFF;
}
#title {
    padding: 0 0 0 0;   
}
#date {
    padding: 5px 0px 5px 10px;
    text-align: left;
    border-right: 0px;
    border-top-left-radius: 5px;
}
#clock {
    padding: 5px 10px 5px 0px;
    text-align: right;
    border-left: 0px;
}
#styles {
    padding: 0 0 0 0;
    border: 2px solid #FFFFFF;
    border-left: 0px;
    border-top-right-radius: 5px;
}
#normalStyle {
    background-color: #71E9ff;
    color: black;
}
#normalStyle:hover {
    background-color: #a8f1ff;
}
#lightStyle {
    background-color: #bfbfbf;
    color: #464646;
}
#lightStyle:hover {
    background-color: #e6e6e6;
}
#darkStyle {
    background-color: #5f5f5f;
    color: white;
}
#darkStyle:hover {
    background-color: #414141;
}
#map {
    height: 480px;
    width: 100%; 
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    border-left: 2px solid #FFFFFF;
    border-right: 2px solid #FFFFFF;
    z-index : 200;
}
#distance {
    padding-top: 40px;   
}
#address, #duration {
    -webkit-transition: background 1s ease-in-out;
    transition: background 1s ease-in-out;   
}
#travelType {
    border-radius: 5px;
}
#start {
    border-bottom-left-radius: 5px;
}
#start, #stop, #clear {
    border-bottom-right-radius: 0px;
    border-right: 0px;
}
#undo {
    border-bottom-right-radius: 5px;
}
#link {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
    bottom: 0 !Important;
}
#link p {
    color: #333333;   
}
#link a {
    color: deeppink;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;   
}
#link a:hover {
    text-decoration: none;
    color: #333333;
}
.loader {
    color: #71E9ff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 50px;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: #333333;
}
.dateClock {
    background-color: #333333;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
}
.style {
    padding: 5px;
    border-radius: 0px;
    border: 0px;
    cursor: pointer;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.h2-collapsible {
    background-color: #333333;
    color: #FFFFFF;
    cursor: pointer;
    border: 2px solid #FFFFFF;
    border-radius: 5px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-top: 10px;
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
}
.h2-collapsible:hover {
    background-color: #484848;
    color: #71E9ff;
}
.collapsed {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; 
}
.well {
    background-color: #d8d8d8; 
    color: #242424;
    border: 2px solid #FFFFFF;
    border-top: 0px;
    min-height: 120px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.glyphicon {
    color: #484848;
}
.btn {
    background-color: #333333;
    -webkit-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    border: 1px solid #333333;
    height: 34px;
    color: #FFFFFF;
}
.btn > .glyphicon {
    color: #FFFFFF;   
    font-size: 100%;
    -webkit-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;
}
.btn:hover > .glyphicon {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}
.btn:focus, .btn:hover, .btn:hover > .glyphicon {
    color: #71E9ff;
    background-color: #484848; 
}
.control {
    border: 2px solid #FFFFFF; 
    border-radius: 0px; 
    margin-bottom: 10px;
}
.input-group {
    width: 80%;
    margin-left: 10%;
}
.heartbeat {
    display: block;
    width: auto;
    height: 73px;
    position: relative;
    margin: 0px auto;
    float: right;
}
.fa-heartbeat, .fa-map-marker {
    color: deeppink;   
}
/* Mobile and Tablet */
@media only screen and (max-width: 480px) {
    h1 {
        font-size: 1.4em;
    }
    h2 {
        font-size: 1em;
    }
    p {
        font-size: 1em;   
    }
    .dateClock {
       font-size: 18px; 
    }
}
@media only screen and (max-width: 768px) {
    h1, h2 {
        margin-top: 0px;
        position: relative;
        text-align: center;
    }
   .heartbeat {
        display: none;   
    } 
    #styles {
        display: none;
    }
    #clock {
        border-top-right-radius: 5px;   
    }
}