/* VARIABLES */

// Font Family
@import url(https://fonts.googleapis.com/css?family=Quicksand);
$font-pri: 'Quicksand', sans-serif;

// Primary colour
$col-pri-l: #c0c0c0;
$col-pri-m: #868686;
$col-pri-d: #4c4c4c;