/* FEATURE */

/* Feature Block */

.feature {
	position: relative;
	z-index: 1;
	display: flex;
    margin: 0px auto;
    align-items: center;
    justify-content: center;
	text-align: center;
	background-image: repeating-linear-gradient(135deg, rgba(0,0,0,.3), rgba(0,0,0,.3) 1px, transparent 2px, transparent 2px, rgba(0,0,0,.3) 3px);
	background-position: center;
    background-attachment: fixed;
    background-size: 5px 5px;
	background-color: transparent;
    img {
		display: block;
        margin: auto;
    }
    h3 {
		padding: 10px 10px;
		margin: 10px 0px 0px 0px;
		background: $col-highlight;
        color: black;
        text-align: center;
		transition: 0.3s ease-in-out;
    }
	a:hover > h3 {
		background: black;
		color: white;
		letter-spacing: 2px;
	}
    .fa {
        margin-left: 10px;
    }
}

/* Heading Blocks */

.heading-block {
	display: inline-block;
	$pad: calc(10% + 15px);
	padding: 0px $pad 0px $pad;
	color: white;
	text-align: center;
	cursor: default;
    transition: 0.3s ease-in-out;
	h3 {
		padding-top: 0px;
		margin-top: 0px;
		outline: none !important;
		background: transparent;
		color: white;
	}
	a > h2 {
		transition: 0.3s ease-in-out;
	}
	a:focus {
		text-decoration: none;
	}
	.line {
		display: table;
		white-space: nowrap;
		&:before, &:after {
			position: relative;
			top: 0.5em;
			display: table-cell;
			width: 45%;
			border-top: 2px solid $col-highlight;
			content: '';
		}
		&:before {
			right: 1.5%;
		}
		&:after {
			left: 1.5%;
		}
	}
}
.heading-block > a > h2:hover {
	color: $col-highlight;
	.font-highlight {
		color: white;   
	}
}

/* Information Layout */

.container-fluid {
	width: 100%;
    padding: 7% 0 0 0;
    margin: 0 0 0 0;
}
.info-section {
	z-index: 2;
	padding: 0px 10% 0px 10%;
    border-top: none;
	color: white;
    overflow: hidden;
	text-align: left;
    transition: 0.3s ease-in-out;
}

/* Home */

#home {
    background-color: black;
	background-image: url(/assets/images/home-min.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    .feature {
		display: block;
		width: 100%;
        height: 100vh;
		border-top: 0px;
        opacity: 1;
    }
    .container-fluid {
        padding: 0 0 0 0;
        opacity: 1;
    }
    .line {
        display: table;
        white-space: nowrap;
    }
    .line:before, .line:after {
		display: table-cell;
        background: linear-gradient(to bottom, $col-highlight, $col-highlight) no-repeat center / 100% 2px;
        content: '';
    }
    h4.line {
        font-family: $font-secondary;
        text-shadow: 5px 2px 5px black;   
    }
    a {
        div {
            height: 40px;   
        }
    }
    img {
        margin-bottom: 20px;
    }
    h1{
        font-family: $font-impact;
        text-shadow: 5px 2px 5px black;   
    }
    #home-group {
		position: absolute;
        top: 48%;
        left: 50%;
		display: block;
        max-width: 80vw;
        margin-right: -50%;
        transform: translate(-50%, -50%);
		background: tranparent;
        #front-end {
            top: -1.5rem;
        }
        #front-end.line:before {
            width: 10%;
        }
        #front-end.line:after {
            width: 90%;
        }
        #zachary-kahl {
            padding: 25px;
            padding-right: 24px;
            border: 2px solid $col-highlight;
            border-top: 0;
            border-bottom: 0;
			margin: -1px 0px -1px 0px;
            background: transparent;
        }
        #web-developer {
            bottom: -1.5rem;
        }
        #web-developer.line:before {
            width: 90%;
        }
        #web-developer.line:after {
            width: 10%;
        }
        #front-end, #web-developer {
            position: absolute;
            span {
                padding: 0px 10px 0px 10px;   
            }
        }
    }
	#cta {
		position: absolute;
		bottom: 20%;
		margin: 0px auto;
		a {
			padding: 10px;
			background: black;
			border: 2px solid white;
			color: white;
			cursor: pointer;
			transition: 0.3s ease-in-out;
			.fa {
				margin: 0 0 0 0;
			}
		}
		a:hover{
			background: white;
			color: black;
			letter-spacing: 2px;
			text-decoration: none;
		}
	}
    #motto {
		position: absolute;
		bottom: 0px;
        left: 0px;
        display: block;
        width: 100%;
        padding: 2vh 10% 2vh 10%;
		background: rgba(92, 94, 114, 0.1);
		color: white;
        font-family: $font-primary;
		font-size: 1.5rem;
        letter-spacing: 2px;
        line-height: 2;
    }
}

#content {
	background: black;
	background-image: url(/assets/images/gradient-min.jpg);
    background-repeat: repeat-y;
    background-size: 100%;
    background-position: center;
}

/* About Me */

#about-me {
    img {
		float: right;
        width: 250px;
		border: 4px solid $col-highlight;
        margin: 1% auto;
		transition: 0.3s ease-in-out;
    }
    h3 {
        color: white;
        background: none;
    }
    p {
        text-align: left;
    }
}

/* Skills */

#skills {
    img {
		position: relative;
        top: 50%;
        height: auto;
        width: auto;
        max-height: 95px;
        transform: translateY(-50%);
    }
    h3 {
        outline: 1px solid $col-highlight;   
    }
	#skills-mobile {
		display: none;
	}
    .skill-btn {
		position: relative;
        float: left;
        height: 150px;
        padding: 10px;
		background: rgba(255,255,255,0.8);
        outline: 1px $col-pri-l solid;
        filter: grayscale(1);
        transition: 0.3s ease-in-out;
    }
    .skill-btn:hover {
        background: rgba(255,255,255,1);
        filter: grayscale(0);
    }
    .skill-text {
		color: black;
        opacity: 0;
        transition: 0.4s ease-in-out;
    }
    .rating-box .skill-text {
        transition-delay: 0.5s;
    }
    .skill-name {
		position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        height: 0px;
        width: 100%;
        background: $col-pri-l;
        text-align: center;
		line-height: 25px;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }
    .rating-box {
		position: absolute;
		right: 0px;
        bottom: 0px;
        height: 25px;
		width: 100%;
        background: $col-pri-l;
		opacity: 0;
		overflow: hidden;
        transition: 0.3s ease-in-out;
    }
    .rating-bar {
		position: absolute;
		left: 0px;
		bottom: 0px;
        display: block;
        height: 25px;
		width: 0%;
        background: $col-highlight;
        text-align: center;
		line-height: 25px;
        transition: width 1s;
       .skill-text {
            color: black;
        }
    }
    .status {
        display: inline;   
    }
    .skill-btn:hover .skill-text {
        opacity: 1;
    }
    .skill-btn:hover .skill-name {
        height: 25px;
    }
    .skill-btn:hover .rating-box{
        opacity: 1;
    }
}

/* Projects */

#projects {
    h4 {
		padding: 5px 5px 0px 5px;
        color: black;
		line-height: 30px;
		white-space: nowrap;
		overflow: hidden;
        transition: 0.3s ease-in-out;
    }
	img {
		opacity: 1;
		transition: 0.3s ease-in-out;
	}
    .panel-group {
        margin: 0 0 0 0;
        .glyphicon {
			padding-left: 10px;
            color: black;
            font-size: 16px;
        }
    }
    .panel {
		border: 0px;
		border-radius: 0px;
        margin: 0 0 0 0; 
    }
    .panel-heading {
		padding: 0px;
		border-radius: 0px;
		background: white;
        color: black;
		cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .panel-heading.active {
		h4 {
			font-family: $font-secondary;
		}
    }
    .panel-heading.active, .panel-heading:hover {
		background: $col-pri-vl;
		h4 {
			color: black;
		}
		.arrow {
			span {
				background: black;
			}
		}
    }
    .panel-title {
		width: 90%;
		margin: 0 5%;
        font-family: $font-primary;
		text-overflow: ellipsis;
        text-align: center;
    }
    .panel-body {
		display: flex;
        height: 200px;
        padding: 5px;
		overflow: hidden;
        align-items: center;
        justify-content: center;
        .cp_embed_wrapper {
            width: 100%;
			height: 190px;
        }
    }
    .panel-footer {
		padding: 0 0 0 0;
        border-top: 1px solid $col-pri-l;
        a {
			display: block;
            width: 100%;
			background: $col-pri-l;
            color: black;
            font-size: 1rem;
            line-height: 2rem;
            cursor: pointer;
            transition: 0.3s ease-in-out;
        }
        a:hover {
            background: $col-highlight;
            font-size: 0.9rem;
        }
    }
    .panel-collapse {
		color: black;  
        text-align: center; 
    }
    #websites {
		.panel-body {
			img {
				padding: 5px;
				width: 100%;
				height: 190px;
			}
			span {
				position: absolute;
				width: 80%;
				opacity: 0;
				transition: 0.3s ease-in-out;
			}
		}
		.panel-body:hover {
			img {
				opacity: 0.2;
				transform: scale(1.5);
				filter: grayscale(1);
			}
			span {
				opacity: 1;
			}
		}
		.panel-footer {
			a {
				float: left;
				width: 50%;
			}
		}
    }
	#graphics {
		img:hover {
			transform: scale(1.2);
		}	
	}
}

/* Blogs */

#blogs {
    .list-group {
        margin-bottom: 5px;
        .year {
			padding: 0 0 0 0;
			margin: 0 0 0 0;
			background: white;
			color: black;
			line-height: 40px;
			cursor: pointer;
			transition: 0.3s ease-in-out;
        }
        .year.active, .year:hover {
            background: $col-pri-l;
            color: black;
			.arrow {
				span {
					background: black;
				}
			}
        }
        .glyphicon {
			padding-left: 10px; 
            color: black;
            font-size: 16px;   
        }
    }
    .list-group-item {
		border: 0px;
        border-radius: 0px;
		color: black;
		h4 {
			color: black;
		}
    }
    .list-group-item:hover {
        background: $col-pri-vl;  
    }
	#web-tips {
		.list-group {
			margin-bottom: 0px;
		}
	}
}

/* Contact */

#contact {
	.container-fluid {
    	padding: 7% 0% 7% 0%;
	}
    .info-section {
        text-align: center;
    }
}

/* Mobile Devices */

@media (max-width: 1023px) {
    #skills .status {
        display: none;  
    }  
}

@media (max-width: 767px) {
    .feature {
		padding: 0px 0px 0px 0px;
        height: 100%;
        min-height: 100%;
		max-width: 100vw;
        border-top: 0px solid black;
    }
    .container-fluid {
		padding: 0px;
        opacity: 1;
    }
    .heading-block {
		h3 {
			display: none;
		}
        .font-highlight {
            color: white;   
        }
        width: 100%;
        background: $col-highlight;
    }
	.col-xs-12, .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .glyphicon:hover {
        color: white;
        font-size: 30px;
    }
	#home {
		background-image: none;
		background: $col-sec-m;
		img {
			max-width: 200px;
			border: 4px solid $col-highlight;
			margin: 60px auto 10px auto;
		}
		#home-group {
			top: 55%;
			background: black;
			#zachary-kahl {
				padding: 15px 10px 15px 10px;
				font-size: 2.8rem;
			}
		}
		#motto {
			background: transparent;
			font-size: 1rem;
		}
	}
    #about-me, #skills, #projects, #blogs, #contact {
		background: $col-sec-m;
		.container-fluid {
			padding: 0;
		}
		.info-section {
			padding: 0px 15px 15px 15px;
			border: none;
			text-align: center;
			h3 {
				background: black;
				color: white;
			}
		}
        h2, h3 {
			outline: none;
			border: none;
            font-family: $font-secondary;
			line-height: 30px;
			.font-highlight {
				color: black;
			}
        }
        h2 {
			color: black;
            font-size: 2rem;
        }
        p {
			color: white;
            text-align: center;
            line-height: 1.5;
        }
    }
	#skills {
		#development, #design {
			display: none;
		}
		#skills-mobile {
			display: block;
			ul {
				padding: 10px 0 0 20px;
				margin: 0;
			}
		}
	}
    #projects {
		#websites, #snippets, #graphics {
			.panel-group {
				display: none;
			}
		}
    }
	#blogs {
		.list-group {
			display: none;
		}
	}
}