/* NAVIGATION */

/* Navbar */

.navbar {
	min-height: auto;
	max-height: 50px;
    padding: 0px 10% 0px 10%;
	border-bottom: 2px solid $col-highlight;
    margin: 0 0 0 0;
	background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: $font-secondary;
    .fa {
		padding: 0px 10px 0 10px;
        font-size: 2rem;
        line-height: 50px;
    }
}

/* Navbar Header */

.navbar-header {
    float: left;
    .navbar-brand {
        float: left;
        height: auto;
		padding: 0px 20px 0px 0px;
        color: white;
        font-size: 1.5rem;
        transition: 0.3s ease-in-out;
    }
    .navbar-brand:hover, .navbar-brand:focus {
        color: $col-highlight;
        text-decoration: none;
    }
}

/* Navbar collapse */

.navbar-collapse {
    float: left;
    .nav > li > a:hover, .nav > li > a:focus, #nav-logo:hover {
        background-color: transparent;
        color: $col-highlight;
        transition: 0.3s ease-in-out;
    }
    .nav > li:hover {
        text-decoration: none;
    }
    .navbar-nav > li > a {
		padding: 0px 10px 0px 10px;
        color: white;
        line-height: 50px;
    }
    .nav, .navbar-nav {
        margin-left: auto;
        margin-right: auto;
        #nav-about-me {
            padding-left: 0px;   
        }
    }
}

/* Dropdown Menu */
.dropdown-menu {
	min-width: 100px;
	background: rgba(0, 0, 0, 0.8);
	border: 2px solid $col-highlight;
	border-top: 0;
	border-radius: 0;
	li {
		a {
			color: white;
			&:hover {
				background: transparent;
				color: $col-highlight;
			}
		}
	}
}

/* Brand */

#brand {
	position: absolute;
    top: 0;
    left: calc(50% - 50px);
    img {
        height: 75px;
    }
}

/* Social Media Buttons */

#nav-social {
    float: right;
}

/* Mobile Devices */

@media (max-width: 767px) {
    .navbar {
        padding: 0px 0px 0px 0px;
        background: black;
    }
    .navbar-header {
		width: 100%;
        padding: 0px 10% 0px 10%;
        #menu {
            float: right;
			padding-right: 0px;
            margin-right: 0px;
        }
        // Toggle
        #menu.navbar-toggle > .icon-bar {
            display: block;
			height: 2px;
            width: 24px;
            border-radius: 1px;
            background-color: white;
            transition: 0.3s ease-in-out;
        }
        #menu:hover > .icon-bar {
            background-color: $col-highlight;
        }
		#menu.active {
			span {
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(1) {
					transform: translateY(6px) rotate(45deg);
				}
				&:nth-child(3) {
					transform: translateY(-6px) rotate(-45deg);
				}
			}
		}
    }
    .navbar-collapse {
		width: 100%;
		padding: 0px 0px 0px 0px;
        margin-top: -1px;
        .navbar-nav {
			width: 100%;
			border-bottom: 2px solid $col-highlight;
            margin-top: 0px;
            background: black;
        }
        .navbar-nav > li {
            width: 100%;
            padding: 0px 10% 0px 10%;
        }
        .navbar-nav > li > a {
            padding-left: 0px;   
        }
    }
}