/* FEATURE */

.feature {
	text-align: center;
	height: 100%;
    position: relative;
	z-index: 1;
    border-top: 2px solid $col-pri-d;
    border-top-style: dashed;
    p {
        font-size: 20px;
    }
    a {
        text-decoration: none;
    }
    img {
        margin: auto;
        display: block;
    }
    h3 {
        padding: 10px 10px;
        background: rgba(255,255,255,0.1);
        margin-top: 15px;
        border: 1px solid $col-pri-l;
        border-bottom: 0px;
        text-align: center;
    }
}

// Heading Block

.heading-block {
	width: 100%;
	padding: 10px 20px;
    border: 1px solid $col-pri-m;
	color: white;
	cursor: default;
	display: inline-block;
	text-align: center;
	background: $col-pri-d;
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.heading-block > a > h2 {
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.heading-block:hover > a > h2 {
    color: gold;   
}
.heading-block:hover {
    .divider {
        margin-left: 5px;
        padding-right: 5px;
        border-left: 0px solid white;   
    }
}

// Information Layout

.info-group {
	padding: 75px 150px 75px 150px;
	width: 100%;
	opacity: 0;
}
.info-section {
	background: rgba(0,0,0,0.8);
	z-index: 2;
	border: 1px solid $col-pri-m;
    border-top: none;
    overflow: auto;
	text-align: left;
	padding: 0 0 15px 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
}
.info-section:hover {
	background: rgba(0,0,0,0.9);
}

// Home

#home {
    background-color: $col-pri-d;
	background-image: url(/assets/images/wood1.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    
    .feature {
        opacity: 1;
        height: 100vh;
        min-height: 500px;
        position: relative;
    }
    .heading-block {
        border: none;
        background: transparent;
        width: auto;
        -webkit-animation-delay: 0.3s;
        animation-delay: 0.3s;
    }
    .heading-block:hover {
        background: transparent;
        border: none;
    }
    a {
        div {
            height: 40px;   
        }
        -webkit-animation-delay: 0.9s;
        animation-delay: 0.9s;
    }
    img {
        margin-bottom: 20px;
    }
    #logo {
        display:block;
        margin:auto;
    }
    #home-group {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

// About Me

#about-me {
    background-color: white;
    background-image: url(/assets/images/wood2-white.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    
    img {
        width: 350px;
        margin-top: 15px;
    }
    h3 {
        background: black;
        border: 1px solid $col-pri-l;
        color: white;
        margin-bottom: 15px;
    }
}

// Skills

#skills {
    background-color: white;
    background-image: url(/assets/images/wood2-black.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
    
    h3 {
        background: rgba(0,0,0,0.1);
        border: 1px solid $col-pri-l;
        color: black;
    }
    img {
        height: 100px;
        width: auto;
        max-height: 100px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .info-section {
        background: white;   
    }
    .info-section:hover {
        background: rgba(255,255,255,0.9);   
    }
    .skill-btn {
        height: 150px;
        background: rgba(255,255,255,0.8);
        border: 1px solid $col-pri-l;
        padding: 10px;
        position: relative;
        float: left;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .skill-btn:nth-child(n+2) {
        margin-right: -1px;
        margin-top: -1px;
        //outline: 1px solid $col-pri-l;
    }
    .skill-btn:hover {
        background: rgba(255,255,255,1);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    .skill-text {
        opacity: 0;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        color: white;
    }
    .rating-box .skill-text {
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }
    .skill-name {;
        display: block;
        height: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: $col-pri-d;
        text-align: center;
        -webkit-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
        line-height: 25px;
        overflow: hidden;
    }
    .rating-box {
        opacity: 0;
        height: 25px;
        background: $col-pri-d;
        right: 0px;
        bottom: 0px;
        width: 100%;
        position: absolute;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        overflow: hidden;
    }
    .rating-bar {
        display: block;
        height: 25px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background: black;
        width: 0%;
        text-align: center;
        -webkit-transition: width 1s;
        transition: width 1s;
        line-height: 25px;
        border-right: 2px solid white;
    }
    .status {
        display: inline;   
    }
    .skill-btn:hover .skill-text {
        opacity: 1;
    }
    .skill-btn:hover .skill-name {
        height: 25px;
    }
    .skill-btn:hover .rating-box{
        opacity: 1;
    }
}

// Projects

#projects {
    background-color: white;
    background-image: url(/assets/images/wood2-white.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;

    h3 {
        background-color: $col-pri-l;
        color: black;
        border: 0px;
    }
    h4 {
        color: black;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .glyphicon {
        font-size: 16px;
        padding-left: 10px;
        color: black;
    }
    .glyphicon:hover {
        color: white;
    }
    .panel-group {
        margin: 0px 0 0 0;   
    }
    .panel {
        margin: 0px 0 0 0; 
        border-radius: 0px; 
        border: 0px;
        border-bottom: 1px solid $col-pri-l;
    }
    .panel-heading {
        cursor: pointer;
        color: black;
        background: white;
        height: 50px;
        border-radius: 0px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        padding-left: 0px;
        padding-right: 0px;
    }
    .panel-heading:hover {
        background: $col-pri-d;
        .glyphicon, h4 {
            color: white;   
        }
        span {
            -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
        }
    }
    .panel-heading {
        span {
            -webkit-transform: translateX(10px) translateY(-3px) rotate(180deg);
            transform: translateX(10px) translateY(-3px) rotate(180deg);
        }
    }
    .panel-title {
        font-size: 1.3rem; 
        text-align: center;
    }
    .panel-body {
        height: 125px;
        font-size: 16px;
    }
    .panel-footer {
        height: 50px;
        a {
            cursor: pointer;
            background: black;
            color: white;
            font-size: 14px;
            border-radius: 5px;
            padding: 5px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        a:hover {
            background: $col-pri-d;
            font-size: 14px;
        }
    }
    .panel-collapse {
        text-align: center;
        color: black;   
    }
}

// Contact

#contact {
    background-color: white;
    background-image: url(/assets/images/wood2-black.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    
    .info-section {
        padding: 15px;
        background: white;
        text-align: center;
    }
    .info-section:hover {
        background: rgba(255,255,255,0.9);   
    }
    p {
        color: black;
    }
    h3 {
        background: rgba(0,0,0,0.1);
        border: 1px solid $col-pri-l;
        color: black;
        margin: 0px auto 10px auto;
    }
}

// Special Classes

.divider {
    margin-left: 10px;
    padding-right: 10px;
    border-left: 2px solid white;
    -webkit-transition: 0.1s ease-in-out;
	transition: 0.1s ease-in-out; 
}
.slogan {
	color: white;
    margin-bottom: 10px;
	padding: 5px 20px;
	-webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

// Mobile Devices 

@media (min-width: 768px) {
    #design .skill-btn {
        height: 225px;   
    }
    #development {
        padding-right: 7px;
        h3 {
            margin-right: 2px;   
        }
    }
    #design {
        padding-left: 7px;
        h3 {
            margin-right: 1px; 
        }
    }
}

@media (max-width: 1023px) {
    .info-group {
		opacity: 1;
	    padding: 25px;
	}
    #skills .status {
        display: none;  
    }
}


@media (max-width: 767px) {
    body {
        width: 100vw;
        max-width: 100vw;
    }
    .row {
        margin: 0px 0px 0px 0px;   
    }
    .feature {
        border-top: 0px solid black;
        max-width: 100vw;
        margin: 0px 0px 0px 0px;
    }
    .heading-block {
        background: black;
        border: none;
    }
	.col-xs-12, .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .glyphicon:hover {
        color: white;
        font-size: 30px;
    }
	#home {
		display: none;
	}
    #about-me, #skills, #projects, #contact {
        background-image: none;  
		.info-group {
			opacity: 1;
			padding: 0px;
		}
		.info-section, .info-section:hover {
			background: white;
			background: -webkit-linear-gradient(top, $col-pri-m 50%,white 100%);
			background: linear-gradient(to bottom, $col-pri-m 50%,white 100%);
			color: black;
			border: none;
			padding: 15px 15px 30px 15px;
			text-align: center;
		}
        a {
            color: gold;   
        }
        a:hover {
            color: white;   
        }
        h3, h4 {
            line-height: 1;   
        }
        h2, h3 {
            line-height: 30px;
            background: black;
            color: white;
            border: none;
        }
    }
	#about-me {
		margin-top: 50px;
	}
	#skills {
		#development .skill-btn:last-child {
			width: calc(100% - 1px);
		}
		#development, #design {
			h3 {
				margin-right: 1px;
			}
		}
		#design {
			img {
				max-height: 80px;   
			}
		}
		.skill-name {
			height:25px;
			.skill-text {
				opacity: 1;
			}
		}
        .skill-btn {
            border: none;   
        }
	}
}