/* FEATURE */

.feature {
    height: 100%;
    padding: 10vh 10vw 10vh 10vw;
    border-top: 4px solid $col-highlight;
    position: relative;
	text-align: center;
	z-index: 1;
    p {
        font-size: 20px;
    }
    a {
        text-decoration: none;
    }
    img {
        margin: auto;
        display: block;
    }
    h3 {
        padding: 10px 10px;
        background: $col-pri-d;
        margin: 10px 0px 0px 0px;
        text-align: center;
        a {
            font-size: 1.5rem;
        }
        a:hover {
            color: white;   
        }
    }
}

// Heading Block

.heading-block {
	width: 100%;
	padding: 10px 20px;
	color: white;
	cursor: default;
	display: inline-block;
	text-align: center;
	background: $col-pri-d;
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.heading-block > a > h2 {
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.heading-block:hover {
    background: black;   
}
.heading-block:hover > a > h2 {
    color: $col-highlight;
}

// Information Layout

.container-fluid {
    padding: 0 0 0 0;   
}
.info-group {
    opacity: 0;   
}
.info-section {
	background: rgba(255,255,255,0.8);
    color: black;
	z-index: 2;
    border-top: none;
    overflow: auto;
	text-align: left;
	padding: 0 0 15px 0;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    overflow-y: hidden;
    overflow-x: hidden;
}

// Home

#home {
    background-color: black;
	background-image: url(/assets/images/black.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
    .feature {
        opacity: 1;
        height: 100vh;
        position: relative;
        border-top: 0px;
    }
    .line {
        display: table;
        white-space: nowrap;
    }
    .line:before, .line:after {
        background: linear-gradient(to bottom, $col-highlight, $col-highlight) no-repeat center / 100% 4px;
        content: '';
        display: table-cell;
    }
    a {
        div {
            height: 40px;   
        }
    }
    img {
        margin-bottom: 20px;
    }
    h1, h4 {
        font-family: $font-impact;
        text-shadow: 5px 2px 5px black;   
    }
    #home-group {
        max-width: 80vw;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%); 
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background: tranparent;
        display: block;
        #front-end {
            top: -1.5rem;
        }
        #front-end.line:before {
            width: 10%;
        }
        #front-end.line:after {
            width: 90%;
        }
        #zachary-kahl {
            margin: 0px 0px 0px 0px;
            padding: 25px;
            padding-right: 24px;
            border: 4px solid $col-highlight;
            border-top: none;
            border-bottom: none;
            background: transparent;
            margin-top: -1px;
            margin-bottom: -1px;
        }
        #web-developer {
            bottom: -1.5rem;
        }
        #web-developer.line:before {
            width: 90%;
        }
        #web-developer.line:after {
            width: 10%;
        }
        #front-end, #web-developer {
            position: absolute;
            span {
                padding: 0px 10px 0px 10px;   
            }
        }
    }
    #motto {
        margin-top: 10px;
        width: 100%;
        text-align: center;
        position: relative;
        top: 65%; 
        h4 { 
            font-family: $font-primary;
            letter-spacing: 2px;
        }
    }
    #cta {
        display: block;
        position: absolute;
        bottom: 20px;
        left: 45%;
        h4 { 
            font-family: $font-fancy;
            display: block;
            line-height: 50px;
            cursor: pointer;
            color: white;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        h4:hover {
            color: $col-highlight;   
        }
        span {
            font-size: 40px;
        }
    }
}

// About Me

#about-me {
    background-color: white;
    background-image: url(/assets/images/white.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    img {
        width: 350px;
        margin-top: 15px;
    }
    h3 {
        margin-bottom: 10px;   
    }
}

// Skills

#skills {
    background-color: white;
    background-image: url(/assets/images/black.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed; 
    img {
        height: 100px;
        width: auto;
        max-height: 100px;
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .skill-btn {
        height: 150px;
        background: rgba(255,255,255,0.8);
        padding: 10px;
        position: relative;
        float: left;
        outline: 1px $col-pri-l solid;
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    .skill-btn:hover {
        background: rgba(255,255,255,1);
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
    }
    .skill-text {
        opacity: 0;
        -webkit-transition: 0.4s ease-in-out;
        transition: 0.4s ease-in-out;
        color: black;
    }
    .rating-box .skill-text {
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
    }
    .skill-name {;
        display: block;
        height: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        background: $col-highlight;
        text-align: center;
        -webkit-transition: height 0.3s ease-in-out;
        transition: height 0.3s ease-in-out;
        line-height: 25px;
        overflow: hidden;
    }
    .rating-box {
        opacity: 0;
        height: 25px;
        background: $col-pri-l;
        right: 0px;
        bottom: 0px;
        width: 100%;
        position: absolute;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        overflow: hidden;
    }
    .rating-bar {
        display: block;
        height: 25px;
        position: absolute;
        left: 0px;
        bottom: 0px;
        background: $col-pri-m;
        width: 0%;
        text-align: center;
        -webkit-transition: width 1s;
        transition: width 1s;
        line-height: 25px;
        border-right: 2px solid white;
       .skill-text {
            color: white;
        }
    }
    .status {
        display: inline;   
    }
    .skill-btn:hover .skill-text {
        opacity: 1;
    }
    .skill-btn:hover .skill-name {
        height: 25px;
    }
    .skill-btn:hover .rating-box{
        opacity: 1;
    }
}

// Projects

#projects {
    background-color: white;
    background-image: url(/assets/images/white.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    h4 {
        color: black;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        line-height: 50px;
    }
    .glyphicon {
        font-size: 16px;
        padding-left: 10px;
        color: black;
    }
    .panel-group {
        margin: 0px 0 0 0;   
    }
    .panel {
        margin: 0px 0 0 0; 
        border-radius: 0px; 
        border: 0px;
        border-bottom: 1px solid $col-pri-l;
    }
    .panel-heading {
        cursor: pointer;
        color: black;
        background: white;
        border-radius: 0px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
        padding: 0px;
        span {
            -webkit-transform: translateX(10px) translateY(-3px) rotate(180deg);
            transform: translateX(10px) translateY(-3px) rotate(180deg);
        }
    }
    .panel-heading.active, .panel-heading:hover {
        background: $col-pri-l;
        span {
            -webkit-transform: translateX(0px) translateY(0px) rotate(0deg);
            transform: translateX(0px) translateY(0px) rotate(0deg);
        }
    }
    .panel-heading:hover {
        background: $col-pri-m;
        h4, span {
            color: white;
        }
    }
    .panel-title {
        font-family: $font-primary;
        font-size: 1.3rem; 
        text-align: center;
    }
    .panel-body {
        height: 125px;
        padding: 5px;
        font-size: 16px;
    }
    .panel-footer {
        border-top: 1px solid $col-pri-l;
        padding: 0 0 0 0;
        a {
            line-height: 50px;
            cursor: pointer;
            background: $col-pri-d;
            color: $col-highlight;
            padding: 5px;
            -webkit-transition: 0.3s ease-in-out;
            transition: 0.3s ease-in-out;
        }
        a:hover {
            color: white;
            background: $col-pri-m;
            font-size: 0.9rem;
        }
    }
    .panel-collapse {
        text-align: center;
        color: black;   
    }
}

// Contact

#blog {
    background-color: white;
    background-image: url(/assets/images/black.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    .info-section {
        padding: 0px 0px;
        text-align: center;
    }
    .list-group {
        margin-bottom: 15px;
    }
    .list-group-item {
        border-radius: 0px;   
    }
    .list-group-item:hover {
        border-radius: 0px;  
        background: $col-pri-l;
    }
}

// Contact

#contact {
    background-color: white;
    background-image: url(/assets/images/white.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
    .info-section {
        padding: 15px;
        text-align: center;
    }
    p {
        color: black;
    }
    a.external {
        line-height: 50px;
        cursor: pointer;
        background: $col-pri-d;
        color: $col-highlight;
        padding: 10px;
        font-size: 1.5rem;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    a.external:hover {
        color: white;
        background: $col-pri-m;
        font-size: 1.4rem;
    }
}

// Mobile Devices 

@media (min-width: 768px) {
    #design .skill-btn {
        height: 225px;   
    }
    #development {
        padding-right: 7px;
    }
    #design {
        padding-left: 7px;
    }
}

@media (max-width: 1023px) {
    #skills .status {
        display: none;  
    }
}


@media (max-width: 767px) {
    body {
        width: 100vw;
        max-width: 100vw;
    }
    .info-group {
        opacity: 1;   
    }
    .row {
        margin: 0px 0px 0px 0px;   
    }
    .feature {
        border-top: 0px solid black;
        max-width: 100vw;
        padding: 0px 0px 0px 0px;
        p {
            font-size: 18px;   
        }
    }
    .heading-block {
        background: black;
        border: none;
    }
	.col-xs-12, .col-sm-12 {
        padding-left: 0px;
        padding-right: 0px;
    }
    .glyphicon:hover {
        color: white;
        font-size: 30px;
    }
	#home {
		display: none;
	}
    #about-me, #skills, #projects, #blog, #contact {
        background-image: none;  
		.info-section {
			background: white;
			color: black;
			border: none;
			padding: 15px 15px 15px 15px;
			text-align: center;
		}
        a {
            color: $col-highlight;   
        }
        a:hover {
            color: white;   
        }
        h2, h3 {
            line-height: 30px;
            background: black;
            color: white;
            border: none;
        }
    }
	#about-me {
		margin-top: 50px;
	}
	#skills {
        img {
            margin-top: 10px;   
        }
		#development .skill-btn:last-child {
			width: calc(100% - 1px);
		}
		#development, #design {
			h3 {
				margin-right: 0px;
			}
		}
		#design {
			img {
				max-height: 80px;   
			}
		}
		.skill-name {
            font-size: 18px;
			height:25px;
			.skill-text {
				opacity: 1;
			}
		}
        .skill-btn {
            border: none;
            background: rgba(200, 200, 200, 0.3);
            outline: none;
        }
        .skill-btn:hover {
            background: white;
        }
        .skill-btn:nth-child(n+2) {
            margin-right: 0px;
            margin-top: 0px;
        }
        .rating-box {
            display: none;
        }
	}
    #projects {
        .panel-title {
            font-size: 18px;
            text-align: center;
        }
        .panel-footer {
            background: rgba(200, 200, 200, 0.5);  
        }

    }
}