/* FOOTER */

#footer {
	text-align: center;
    background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 10vw;
	padding-right: 10vw;
	line-height: 40px;
    bottom: 0 !Important;
	border-top: 2px solid white;
}

// Social Media Buttons

#social-media {
    padding: 0 0 0 0;
    text-align: left;
    a {
        font-size: 1.5rem;
        padding-right: 10px;
        color: white;
    }
    a:hover {
        color: $col-highlight;
    }
}

// Bottom Page Navigation

#bot-nav {
    font-family: $font-secondary;
    padding: 0 0 0 0;
    text-align: center;
    a {
        padding: 0px 3px 0px 3px;
        font-size: 1rem;
        color: white;
        text-decoration: none;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
     a:hover {
        color: $col-highlight;
    }
}

// Copyright

#copyright {
    padding: 0 0 0 0;
    text-align: right;
}

// Mobile Devices

@media (max-width: 767px) {
    #footer {
        padding-left: 0px;
	    padding-right: 0px;
    }
	#social-media,#bot-nav,#copyright {
        text-align: center;
    }
    #bot-nav {
        display: none;
    }
}