/* NAVIGATION */

// Navbar

.navbar {
    background-color: #000;
    border-bottom: solid 2px white;
    color: white;
    line-height: 45px;
    max-height: 50px;
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.navbar:hover {
	border-bottom: solid 2px gold;
}
.navbar-header {
    height: 50px;
}
.navbar-collapse {
    border: none;
}

// Nav logo

#nav-logo {
    margin-left: 150px;
    float: right;
    line-height: 47px;
    z-index: 999;
    -webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

// Scroll

#scroll {
    position: fixed;
    right: 0;
    margin-right: 150px;
    line-height: 47px;
    background-color: transparent;
    display: block;
    width: 30px;
	cursor: pointer;
    z-index: 999;
    -webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

// Toggle

.navbar-toggle > .icon-bar {
	display: block;
	width: 22px;
	height: 2px;
	border-radius: 1px;
	background-color: white;
	-webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
button:hover > .icon-bar {
	background-color: $col-pri-l;
}

// Dropdown

.nav > li.dropdown a {
    color: white;
    background-color: transparent;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.nav > li.dropdown > a:hover, .nav > li.dropdown > a:focus {
    font-size: 18px;
    color: gold;
    background-color: $col-pri-d;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}  
.nav > .dropdown > .dropdown-menu {
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-size: 16px;
	background-color: transparent;
    -webkit-transition: 0.3s ease-out;
	transition: 0.3s ease-out;
}
.nav > .dropdown > .dropdown-menu > li > a {
    padding: 10px;
	color: white;
}
.nav > .dropdown > .dropdown-menu > li > a:hover {
    font-size: 18px;
	color: gold;
}  
.nav > .dropdown > .dropdown-menu > li {
    background-color: black;
    height: 100%;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.nav > .dropdown > .dropdown-menu > li:hover {
    background-color: $col-pri-d;
}
.nav > li:hover {
    text-decoration: none;
}
.nav > li.open > a.dropdown-toggle{
    background-color: transparent;
}
.nav > li.open {
	color: gold;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 48px;
}

// Desktop

@media (min-width: 768px) {
	.nav > .dropdown:hover > .dropdown-menu {
		display: block;
    }
    .nav > .dropdown {
        width: 25%
	}
    .nav, .navbar-nav {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    .navbar {
        text-align: center;
    }
    .nav > .dropdown > .dropdown-menu > li {
        text-align: center;
    }  
	.nav > .dropdown > .dropdown-menu {
		text-align: center;
		border: solid 2px gold;
	}
	.nav > .dropdown > .dropdown-menu > li:nth-of-type(-n+2) {
		border-bottom: solid 2px gold;
	}
}

// Mobile Devices

@media (max-width: 767px) {
	.dropdown {
    	background-color: black;
	}
	.navbar-nav {
		border-bottom: 1px solid gold;
        margin-top: 0px;
	}
	.nav > .dropdown > .dropdown-menu > li:nth-of-type(-n+2) {
		border-bottom: solid 1px gold;
	}
    .nav > li:hover {
        background-color: $col-pri-d;
    }
    .nav > li.dropdown a {
    padding-right: 15px;
    padding-left: 15px;
}
    #nav-logo {
        margin-left: 25px;
    }
    #scroll {
        left: calc(50% - 15px);
        padding-right: 0px;
	}
}