#blogs-page {
	.year {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		background: white;
		color: black;
		line-height: 40px;
		cursor: pointer;
		transition: 0.3s ease-in-out;
	}
	.year.active, .year:hover {
		background: $col-pri-l;
		color: black;
		.arrow {
			span {
				background: black;
			}
		}
	}
	.list-group {
		margin-bottom: 0;
	}
	.list-group-item {
		border: 0px;
        border-radius: 0px;
		color: black;
		h4 {
			color: black;
		}
    }
    .list-group-item:hover {
        background: $col-pri-vl;
    }
	
	.blog {
		img {
			margin-top: 15px;
			filter: grayscale(0);
		}
		h2 {
			margin-top: 30px;
			font-size: 4rem;
			font-family: $font-secondary;
		}
		a, p {
			font-size: 1.2rem;
			text-align: justify;
		}
		a {
			color: $col-highlight;
		}
		.date {
			padding: 5px;
			text-align: right;
			font-family: $font-secondary;
		}
	}
}
@media (max-width: 767px) {
	#blogs-page {
		.blog {
			img {
				display: none;
			}
			h2 {
				margin-top: 50px;
				font-size: 2rem;
			}
			a, p {
				font-size: 1rem;
				text-align: center;
			}
			.date {
				width: 100%;
				padding: 0;
				margin-top: 10px;
				color: black;
				background: $col-pri-l;
				text-align: center;
			}
		}
	}
}