#blogs-page {
	background-color: black;
    background: linear-gradient($col-sec-d 50%, black 100%);
	.date {
		padding: 0 0 0 0;
		margin: 0 0 0 0;
		background: white;
		color: black;
		line-height: 40px;
		cursor: pointer;
		transition: 0.3s ease-in-out;
	}
	.date.active, .date:hover {
		background: $col-pri-l;
		color: black;
		.arrow {
			span {
				background: black;
			}
		}
	}
	.list-group {
		margin-bottom: 0;
	}
	.list-group-item {
		border: 0px;
        border-radius: 0px;
    }
    .list-group-item:hover {
        border-radius: 0px;  
        background: $col-pri-l;
    }
	
	.blog {
		img {
			filter: grayscale(0);
		}
		h2 {
			margin-top: 40px;
			font-size: 4rem;
			font-family: $font-secondary;
		}
		p {
			font-size: 1.2rem;
			text-align: justify;
		}
		a {
			color: $col-highlight;
			font-size: 1.2rem;
		}
	}
}
@media (max-width: 767px) {
	#blogs-page {
		.blog {
			h2 {
				font-size: 2rem;
			}
			p {
				font-size: 1rem;
				text-align: center;
			}
			img {
				display: none;
			}
		}
	}
}