@import "_websites";
@import "_graphics";
@import "_blogs";

#websites-page, #graphics-page, #blogs-page {
	background: black;
	background-image: url(/assets/images/gradient-min.jpg);
    background-repeat: repeat;
    background-size: 100%;
    background-position: top;
	.container-fluid {
		padding-bottom: 7%;
	}
	img {
		filter: grayscale(1);
		transition: 0.3s ease-in-out;
	}
	img:hover {
		filter: grayscale(0);
	}
}

@media (max-width: 767px) {
	#websites-page, #graphics-page, #blogs-page {
		background: $col-sec-m;
		.container-fluid {
			padding-bottom: 0;
		}
		.info-section {
			padding: 0px 15px 15px 15px;
			border: none;
			text-align: center;
			h3 {
				background: black;
				color: white;
			}
		}
		h2 {
			margin-top: 50px;
			font-size: 2rem;
            font-family: $font-secondary;
			.font-highlight {
				color: black;
			}
        }
	}
}