#websites-page {	
	background-color: black;
	background: linear-gradient($col-sec-d 50%, black 100%);
	.info-section {
		.description {
			padding: 10px;
			min-height: 80px;
			background: $col-sec-d;
			text-align: center;
			cursor: default;
			transition: 0.3s ease-in-out;
		}
	}
}