#websites-page {	
	.info-section {
		.description {
			padding: 10px;
			min-height: 80px;
			color: black;
			background: white;
			text-align: center;
			cursor: default;
			transition: 0.3s ease-in-out;
		}
	}
}