/* FOOTER */

#footer {
	text-align: center;
    background-color: black;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
    padding-left: 125px;
	padding-right: 125px;
	line-height: 40px;
    bottom: 0 !Important;
	border-top: 2px solid white;
}

// Social Media Buttons

#social-media {
    text-align: left;
    a {
        padding-right: 10px;
    }
    img {
        height: 40px;
        cursor: pointer;
        border-radius: 40px;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
    img:hover {
        background: $col-pri-d;
    }
}

// Bottom Page Navigation

#bot-nav {
    text-align: center;
    a {
        color: white;
        text-decoration: none;
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
    }
     a:hover {
        font-size: 110%;
        color: gold;
    }
}

// Copyright

#copyright {
    text-align: right;
}

// Mobile Devices

@media (max-width: 768px) {
    #footer {
        padding-left: 0px;
	    padding-right: 0px;
    }
	#social-media,#bot-nav,#copyright {
        text-align: center;
    }
}